.container {
    margin: 0 auto;
    width: 1352px;
    display: flex;
    justify-content: center;
    align-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: sticky;
    top: 0;

}

ul {
    margin-right: 35px;
}

ul li {
list-style: none;
padding:0;
margin:0;
display: block;
float: right;
text-transform: uppercase;
font-family: "Open Sans", sans-serif;
font-size: 11px;
font-weight: 700;
box-sizing: border-box;
letter-spacing: 3.28px;
margin-top: 28px;
}

a {
    text-decoration: none;
    color: #a5a5a5;
    padding: 27px;
}

a:hover {
    color: black;
    border-bottom: 3px solid #08A6E4;
}

h1 {
    font-size: 32px;
    color: #08A6E4;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding: 15px;
}

.banner {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

h2 {
    font-size: 49px;
    color: black;
    font-family: "Raleway", sans-serif;
    line-height: 57px;
}

.slogan {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 300;
    margin: 10px;
}

.place_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.bttn_open_shop {
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 50px;
    border: none;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font: Bold 16px/22px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 20px;
    display: inline-block;
}

/* ARTICLES */

div.article_icon:first-of-type {
    background-image: url(../images/Person.svg);
    height: 100%;
}

div.article_icon:nth-of-type(2) {
    background-image: url(../images/Eye.svg);
    height: 100%;
}

div.article_icon:nth-of-type(3) {
    background-image: url(../images/Catalog.svg);
    height: 100%;
}

article {
    width: 116px;
    display: inline-block;
}
